{# templates/blog1/hello.html #}
{# 将 app_name 替换为对应的 app_name #}
{% extends "blog1_base.html" %}

{% block title %}Blog_about{% endblock %}

{% block blog_main %}
<div class="blog-post">
	<div>
		<div><strong>留言</strong></div>
	</div>
	<form action="{% url 'message-detail' 2%}" method="POST"> 
			名称：<input type="text" name="nick_name"></br>
			邮箱：<input type="text" name="email"></br>
			内容：<input type="text" name="content"></br>
			<input type="submit" value="Submit" />
	</form>
</div>

{% endblock blog_main%}
